CONFIG_PROMETHEUS_PORT=${CONFIG_PROMETHEUS_PORT}
CONFIG_PROMETHEUS_DISABLE=${CONFIG_PROMETHEUS_DISABLE}

FEATURE_TOGGLE=${FEATURE_TOGGLE}
CONFIG_FEATURE_TOGGLE_API_URL=${CONFIG_FEATURE_TOGGLE_API_URL}
CONFIG_FEATURE_TOGGLE_TOKEN=${CONFIG_FEATURE_TOGGLE_TOKEN}
CONFIG_FEATURE_TOGGLE_NAME=${CONFIG_FEATURE_TOGGLE_NAME}

CONFIG_GRPC_PORT=${CONFIG_GRPC_PORT}
CONFIG_HTTP_PORT=${CONFIG_HTTP_PORT}
CONFIG_PPROF_PORT=${CONFIG_PPROF_PORT}
CONFIG_DISABLE_TRACING=${CONFIG_DISABLE_TRACING}
CONFIG_PROFILER_DISABLE=${CONFIG_PROFILER_DISABLE}
CONFIG_STATS_DISABLE=${CONFIG_STATS_DISABLE}
CONFIG_ALLOW_KILL=${CONFIG_ALLOW_KILL}

CONFIG_LOG_LEVEL=${CONFIG_LOG_LEVEL}
CONFIG_LOG_FORMAT=${CONFIG_LOG_FORMAT}

CONFIG_GRAPHQL_ENABLE=${CONFIG_GRAPHQL_ENABLE}

VERSION=${VERSION}

CONFIG_GORM_DB_URI=${CONFIG_GORM_DB_URI}

CONFIG_MAILSERVICE_ADDRESS=${CONFIG_MAILSERVICE_ADDRESS}
CONFIG_AUTHSERVICE_ADDRESS=${CONFIG_AUTHSERVICE_ADDRESS}
CONFIG_FRONTEND_URL=${CONFIG_FRONTEND_URL}

CONFIG_OTEL_ADDRESS=${CONFIG_OTEL_ADDRESS}

TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN}
TWILIO_ACCOUNT_SID=${TWILIO_ACCOUNT_SID}

CONFIG_REDIS_URI=${CONFIG_REDIS_URI}
CONFIG_REDIS_USER=${CONFIG_REDIS_USER}
CONFIG_REDIS_PASS=${CONFIG_REDIS_PASS}

CONFIG_TWILLO_CALLBACK_URL=${CONFIG_TWILLO_CALLBACK_URL}